.phone-change-container {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    margin-top: 130px;
}

.phone-change-container h2 {
    border-bottom: 1px solid #ccc;
    padding: 20px;
    margin: 0;
    margin-bottom: 10px;
}

.phone-p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    align-items: center;
    text-align: center;
    color: #696F79;
}

/* .phone-change-container-p {
    margin: 0;
    font-family: 'Inter';
    font-style: normal;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #696F79;
} */

.phone-change-container input {
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-bottom: 1px solid #ccc;
    outline: none;
}

.phone-change-container .change-button {
    margin-top: 40px;
    padding: 15px 90px;
    background-color: #000;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.phone-change-container .change-button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.error-message {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
    color: #FF0000;    
    margin: 0;
}

.p-input {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: center;
    margin-top: 50px;
}

.p-input-label {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #696F79;
}

.input-container {
    display: flex;
    gap: 10px;
}

.p-input input::placeholder {
    color: #D9D9D9;
}

.ch-num {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #000000;
    /* width: 116px; */
    height: 46px;
    border: 1px solid #DFDFDF;
    border-radius: 6px;
    background-color: #fff;
    margin-left: auto;
    cursor: pointer;
}

.input-err {
    display:grid;
}

@media screen and (max-width: 1024px) {
    .phone-change-container {
        max-width: 500px;
    }
    
    .phone-change-container h2 {
        font-size: 22px;
    }

    .phone-p {
        font-size: 14px;
    }
    
    .phone-change-container .change-button {
        margin-top: 40px;
        padding: 15px 90px;
        background-color: #000;
        color: white;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }
    
    .phone-change-container .change-button:disabled {
        background-color: #ccc;
        cursor: not-allowed;
    }
    
    .error-message {
        font-size: 11px;
    }
    
    .p-input-label {
        font-size: 16px;
        line-height: 19px;
    }
    
    .ch-num {
        font-size: 14px;
        height: 46px;
    }
}

@media screen and (max-width: 768px) {
    .phone-change-container {
        max-width: 400px;
    }
    
    .phone-change-container h2 {
        font-size: 20px;
    }

    .phone-p {
        font-size: 12px;
    }
    
    .phone-change-container .change-button {
        margin-top: 40px;
        padding: 15px 90px;
    }
    
    .phone-change-container .change-button:disabled {
        background-color: #ccc;
        cursor: not-allowed;
    }
    
    .error-message {
        font-size: 10px;
    }
    
    .p-input-label {
        font-size: 14px;
        line-height: 19px;
    }
    
    .ch-num {
        font-size: 14px;
        height: 46px;
    }
}

@media screen and (max-width: 480px) {
    .phone-change-container {
        max-width: 300px;
    }
    
    .phone-change-container h2 {
        font-size: 18px;
    }

    .phone-p {
        font-size: 10px;
    }
    
    .phone-change-container .change-button {
        margin-top: 40px;
        padding: 15px 90px;
    }
    
    .phone-change-container .change-button:disabled {
        background-color: #ccc;
        cursor: not-allowed;
    }
    
    .error-message {
        font-size: 9px;
    }
    
    .p-input-label {
        font-size: 11px;
        line-height: 19px;
    }
    
    .ch-num {
        font-size: 12px;
        height: 46px;
    }
}