.post-detail-container {
    max-width: 800px;
    margin: 110px auto;
    padding: 40px;
    border-radius: 8px;
}

.post-detail-container h2 {
    font-size: 2rem;
    margin-bottom: 10px;
    color: #333;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}

.post-detail-container p {
    font-size: 1rem;
    color: #666;
    margin-bottom: 20px;
}

.post-detail-container .post-content {
    font-size: 1.1rem;
    line-height: 1.6;
    color: #333;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.post-detail-container button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.post-detail-container button:hover {
    background-color: #555;
}

.edit-delete {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 10px;
}

.comments-section {
    margin-top: 40px;
    border-top: 1px solid #ccc;
    padding-top: 20px;
}

.comments-section h3 {
    text-align: center;
    margin-bottom: 20px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    text-align: center;
    color: #000000;
}

.new-comment-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.new-comment-section input {
    width: 80%;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
}

.new-comment-section button {
    padding: 10px 20px;
    border-radius: 10px;
    border: 1px solid #ccc;
    cursor: pointer;
}

/* .comment {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid #e0e0e0;
    } 
*/

.comment {
    display: flex;
    align-items: center;
    padding: 10px 0;
}

.comment-icon {
    /* margin-right: 15px; */
}

.comment-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    align-items: center;
}

.comment-author {
    font-weight: bold;
    margin-right: 20px;
}

.comment-actions {
    display: flex;
    gap: 10px;
    margin-top: 5px;
}

.comment img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.comment .comment-details {
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.comment-details p {
    font-size: 16px;
    margin-left: 10px;
    margin-bottom: 0;
}

.comment-details span {
    font-weight: bold;
    margin-right: 5px;
}

.comment-date {
    font-size: 14px;
    color: #999;
}

.comment-e-d button{
    background-color: #fff;
    color: #000000;
    padding: 6px;
}

.comment-au-con {
    display: flex;
    gap: 10px;
    align-items: center;
}